body {
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
}

header {
	display: grid;
	place-items: center;
	text-align: center;
	padding-bottom: 1rem;
}

header > h1 {
	padding: .5rem 1rem;
	border: #234 3px dashed;
}

main {
	display: flex;
	border: #234 1px solid;
	padding: 1rem 2.5rem;
	min-height: 25rem;
	box-shadow: 5px 5px 0px #234;
}

.left-side {
	width: 25rem;
	border-right: #234 1px dashed;
	padding-right: 1.5rem;
}

.right-side {
	width: 25rem;
	border-left: #234 1px dashed;
	padding-left: 1.5rem;
}

ul {
	padding-bottom: 1rem;
}

@media screen and (max-width: 768px) {
	body {
		display: grid;
		grid-template-columns: 1fr;
		place-items: center;
	}
	main {
		display: grid;
		place-items: center;
		padding: 1px;
		width: 95vw;
		box-shadow: none;
	}

	.right-side {
		grid-row: 1;
		border-left: none;
		width: 75vw;
		border-bottom: #234 1px dashed;
		padding-right: 1.5rem;
		padding-left: 0rem;
	}

	.left-side {
		grid-row: 2;
		width: 75vw;
		border-right: none;
		border-top: #234 1px dashed;
	}
}
